.validation-message {
  color: red;
  font-size: 12px;
  background-color: white;
  padding: 5px;
  font-weight: bold;
}

.invalid {
  border: 2px solid red;
  color: red;
}

.invalid::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

.invalid::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: red;
}
