.grid-container {
  display: grid;
  grid-template-columns: 98.5vw;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  background-color: #c6c6c6;
  word-break: break-all;
}

.item1 {
  background-color: #999999;
  padding-right: 5px;
  scrollbar-width: thin;
  overflow-y: hidden;
}

.item2 {
  background-color: #999999;
  padding: 5px;
  scrollbar-width: thin;
  overflow-y: hidden;
}

@media only screen and (min-width: 768px) {
  body {
    overflow-y: hidden;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 60vw 40vw;
    grid-template-rows: 100vh;
    grid-row-gap: 10px;
    background-color: #c6c6c6;
    word-break: break-all;
  }

  .item1 {
    background-color: #999999;
    padding-right: 5px;
    scrollbar-width: thin;
    overflow-y: scroll;
  }

  .item2 {
    background-color: #999999;
    padding: 5px;
    scrollbar-width: thin;
    overflow-y: scroll;
  }
}
