.grid-container {
  display: grid;
  grid-template-columns: 98.5vw;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  background-color: #c6c6c6;
  word-break: break-all;
}

.item1 {
  background-color: #999999;
  padding-right: 5px;
  scrollbar-width: thin;
  overflow-y: hidden;
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* text-align: center; */
  /* font-size: 30px; */
}

.item2,
.item3,
.item4,
.item5 {
  background-color: #999999;
  padding: 5px;
  scrollbar-width: thin;
  overflow-y: hidden;
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* text-align: center; */
  /* font-size: 30px; */
}

.item1 {
  grid-row: 1 / 1;
}

@media only screen and (min-width: 768px) {
  body {
    overflow-y: hidden;
  }

  .grid-container {
    display: grid;
    grid-template-rows: 100vh;
    /* grid-template-rows: 50vh 50vh; */
    grid-row-gap: 10px;
    background-color: #c6c6c6;
    word-break: break-all;
  }

  .item1 {
    background-color: #999999;
    padding-right: 5px;
    scrollbar-width: thin;
    overflow-y: scroll;
  }

  .item2,
  .item3,
  .item4,
  .item5 {
    background-color: #999999;
    padding: 5px;
    scrollbar-width: thin;
    overflow-y: scroll;
  }

  .item1 {
    grid-row: 1 / 3;
  }
}
