/* div {
  perspective: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.loginform {
  text-align: center;
  margin: auto;
}

.square {
  width: 300px;
  height: 300px;
  /* background: black; */
  background-image: url('../images/K1logoBlack.png');
  background-repeat: no-repeat;
  background-size: 300px 300px;
  transform: rotateY(45deg);
  animation: rotateAnimation 8s linear infinite;
}

.inputs {
  /* background: white; */
  padding: 10px;
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(45deg);
  }
  to {
    transform: rotateY(405deg);
  }
}
