.Post textarea {
  width: 100%;
}

.Post input[type='search'] {
  width: 100%;
}

.Post input[type='text'] {
  width: 100%;
}

.Post button {
  width: 50%;
}

.Post img {
  width: 100%;
  height: 60%;
}
