.item2 textarea {
  width: 89vw;
  resize: none;
}

.item2 input[type='search'] {
  width: 90vw;
}

.item2 button {
  width: 30vw;
}

.item2 img {
  width: 90vw;
  height: 60vw;
}

@media only screen and (min-width: 768px) {
  .item2 textarea {
    width: 29.5vw;
  }

  .item2 input[type='search'] {
    width: 30vw;
  }

  .item2 button {
    width: 10vw;
  }

  .item2 img {
    width: 30vw;
    height: 18vw;
  }
}
