.Post textarea {
  width: 89vw;
  resize: none;
}

.Post input[type='search'] {
  width: 90vw;
}

.Post input[type='text'] {
  width: 89vw;
}

.Post button {
  width: 30vw;
}

.Post img {
  width: 90vw;
  height: 60vw;
}

@media only screen and (min-width: 768px) {
  .Post textarea {
    width: 75%;
  }

  .Post input[type='search'] {
    width: 75%;
  }

  .Post input[type='text'] {
    width: 75%;
  }

  .Post button {
    width: 25%;
  }

  .Post img {
    width: 75%;
    height: 45%;
  }
}
